{% extends "base.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<h1 class="text-center">{{sign}}</h1>
<img src="{{route}}" class="mx-auto d-block">
<p></p>
<h1 class="text-center">Ваш гороскоп на сегодня:</h1>
<p class="text-center horo_p">{{ day_horoscope }}</p>
<p><br></p>
<h1 class="text-center">Характеристика знака зодиака</h1>
<p class="text-center horo_p">{{ characteristic }}</p>
<p><br></p>
<h1 class="text-center">Гороскоп на год</h1>
<p class="text-center horo_p"> {{ year_horoscope }}</p>
{% else %}
<h1 class="text-center">Вам надо зарегистрироваться для того, чтобы погрузиться в увлекательный мир гороскопов и астрологии</h1>
{% endif %}
{% endblock %}