{% extends "base.html" %}
{% block content %}

<h1 class="text-center">{{sign}}</h1>
<img src="{{route}}" class="mx-auto d-block">
<p></p>
<h1 class="text-center">Ваш гороскоп на сегодня:</h1>
<p class="text-center horo_p">{{ day_horoscope }}</p>
<p><br></p>
<h1 class="text-center">Характеристика знака зодиака</h1>
<p class="text-center horo_p">{{ characteristic }}</p>
<p><br></p>
<h1 class="text-center">Гороскоп на год</h1>
<p class="text-center horo_p"> {{ year_horoscope }}</p>




{% endblock %}