{% extends "base.html" %}


{% block content %}
<div>
    <h1 class="text-center">Немножко о сайте</h1>
    <p class="info_p text-center">Этот сайт был сделан, как проект, поэтому прошу не судить строго</p>
    <p><br></p>
    <p class="info_p text-center">Если есть предложения или нужны права редактора, пишите:</p>
    <p class="info_p text-center">Мой телеграм: <a href="https://t.me/SUDOnya69">@SUDOnya69</a></p>
    <p class="text-center info_p">Моя почта: daniilroitenberg@yandex.ru</p>
    <p><br></p>
    <p class="text-center info_p">Если нужна более подробная консультация в астрологических вопросах приходите по адресу:</p>
    <p class="text-center info_p">Улица Усадебный Парк, 1</p>
    <img src="static/img/map.png" class="mx-auto d-block">
</div>
{% endblock %}